---
const personalImageAlt = "Tomás Apochian";
const year = new Date().getFullYear();
const age = year - 2000;

---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Tomás, tengo {age} años y soy de Argentina. Siempre me interesó un
      la tecnología y el desarrollo web en particular. Aunque inicialmente seguí
      un camino diferente, graduándome en Administración de Empresas, <strong
        >mi pasión por la programación siempre estuvo presente.</strong
      >
    </p>

    <p>
      Durante la universidad, las asignaturas relacionadas con la programación
      fueron mis preferidas y la idea de dedicarme a ello profesionalmente
      siempre merodeaba en mi cabeza.
    </p>

    <p>
      Después de un proceso de reflexión y debate interno, <strong>
        decidí dar el salto hacia lo que realmente me apasiona</strong
      >. Realicé un curso donde aprendí las bases de la programación y luego fui
      reasignado al puesto de desarrollador en la empresa en la que trabajo.
    </p>
    <p>
      Desde entonces, tuve la oportunidad de participar en varios proyecto
      dedicándome a lo que más disfruto: <strong>programar</strong>.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.jpg"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
