---
import ExperienceItem from "./ExperienceItem.astro";
import type { Props as ExperienceItemProp } from "./ExperienceItem.astro";

interface Props {
  experience: ExperienceItemProp[];
}

const { experience } = Astro.props;
---

<ol class="relative mt-16">
  {
    experience.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
